# CheckOptions:
Checks: 'bugprone*,cert*,clang-analyzer*,concurrency*,cppcoreguidelines*,hicpp*,misc*,
         modernize*,performance*,portability*,readability*,-modernize-use-trailing-return-type,
         -cppcoreguidelines-avoid-non-const-global-variables,-readability-uppercase-literal-suffix,
         -hicpp-uppercase-literal-suffix,-readability-braces-around-statements,
         -hicpp-braces-around-statements,-modernize-use-auto,-hicpp-use-auto,
         -readability-isolate-declaration,-cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-type-reinterpret-cast,-modernize-raw-string-literal,
         -misc-non-private-member-variables-in-classes,-bugprone-easily-swappable-parameters,
         -bugprone-branch-clone,-cppcoreguidelines-pro-type-union-access,
         -readability-identifier-length,-cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,
         -modernize-return-braced-init-list,-cert-dcl58-cpp,-readability-const-return-type,
         -cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-readability-redundant-member-init'
# ExtraArgs:
# ExtraArgsBefore:
FormatStyle: none
# HeaderFileExtensions:
# HeaderFilterRegex:
# ImplementationFileExtensions:
# InheritParentConfig:
# SystemHeaders:
UseColor: true
# User:
WarningsAsErrors: false
