[submodule "Dependencies/GLSLang"]
	path = Dependencies/GLSLang
	url = https://github.com/GamesTrap/glslang.git
[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/GamesTrap/imgui.git
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/GamesTrap/glfw.git
