[submodule "Dependencies/GLSLang"]
	path = Dependencies/GLSLang
	url = https://github.com/GamesTrap/glslang.git
[submodule "Dependencies/ImGui"]
	path = Dependencies/ImGui
	url = https://github.com/GamesTrap/imgui.git
[submodule "Dependencies/SPIRV-Cross"]
	path = Dependencies/SPIRV-Cross
	url = https://github.com/GamesTrap/SPIRV-Cross.git
[submodule "Dependencies/YAMLCpp"]
	path = Dependencies/YAMLCpp
	url = git@github.com:GamesTrap/yaml-cpp.git
